body {
    background-image: url("background.jpeg");
    animation: moveIt 100s linear infinite;
    background-color: rgba(225, 225, 225, 0.6);
    background-blend-mode: lighten;
    font-family: "Paprika", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 50px;
}

@keyframes moveIt {
   from {background-position: 0;}
   to {background-position: 100%;}
}

.text-center {
    text-align: center;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    float: right;
    border: 5px solid #0047AB;
}


.name {
    animation: moveHeader 10s linear infinite;
}

@keyframes moveHeader {
    0% {transform: translateX(0);}
    25% {transform: translateX(15%);}
    50% {transform: translateX(0);}
    75% {transform: translateX(-15%);}
    100% {transform: translateX(0);}
}

h1 {
    font-size: 3em;
    color: #0047AB;
}

h2 {
    font-size: 1.5em;
    color: #0047AB;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.links {
    text-decoration: none;
}

.links:hover {
    text-decoration: underline;
}

.text-margin {
    margin: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

table th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.time {
    background-color: #f2f2f2;
}

.space-cadet {
    background-color: #172A52;
    color: white;
}

.web-chocolate {
    background-color: #cf5A19;
    color: white;
}

.cadmium {
    background-color: #f28A29;
    color: white;
}

.amazon {
    background-color: #3E6B50;
    color: white;
}

.naples {
    background-color: #f6cD59;
}

.boy {
    background-color: #6b7443;
}

.quincy {
    background-color: #715148;
    color: white;
}

.alloy {
    background-color: #a83322;
}