body {
    background-image: url("background.jpeg");
    animation: moveIt 100s linear infinite;
    background-color: rgba(225, 225, 225, 0.6);
    background-blend-mode: lighten;
}

@keyframes moveIt {
   from {background-position: 0;}
   to {background-position: 100%;}
}

.text-center {
    text-align: center;
}

.image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

table th, td {
    border: 1px solid black;
    padding: 10px;
}